<launch>

    <arg name="config"      default="BotanicGarden" /> 
    <arg name="config_path" default="$(find modules_vins)/configs/$(arg config)/system_config.yaml" />

    <arg name="dataset" default="1018_00_img10hz600p_with_depth.learned_depth"/>
    <arg name="bag_path" default="/root/datasets2/BotanicGarden/1018-00/$(arg dataset).bag"/>


    <!-- <arg name="config"      default="tum_rgbd" /> 
    <arg name="config_path" default="$(find modules_vins)/configs/$(arg config)/system_config.yaml" />

    <arg name="dataset" default="rgbd_dataset_freiburg1_desk"/>
    <arg name="bag_path" default="/root/datasets2/tum/rgbd_dataset_freiburg1_desk/$(arg dataset).bag"/> -->

    <!-- <arg name="config"      default="tum_rgbd" /> 
    <arg name="config_path" default="$(find modules_vins)/configs/$(arg config)/system_config.yaml" />

    <arg name="dataset" default="rgbd_dataset_freiburg2_rpy"/>
    <arg name="bag_path" default="/root/datasets2/tum/rgbd_dataset_freiburg2_rpy/$(arg dataset).bag"/> -->



    <!-- <node name="modules_vins" pkg="modules_vins" type="run_serial_vins_descriptor_match" output="screen"> -->
    <node name="modules_vins" pkg="modules_vins" type="run_serial_vins_KLT" output="screen">


        <param name="bag_path"                  type="str"    value="$(arg bag_path)"/>
        <param name="config_path"               type="str"    value="$(arg config_path)" />

    </node>



</launch>